@use "../abstracts" as *;

.wrapper-about
{

	@include mq(700px)
	{
		padding:0 40px;
	}

	@include mq(1024px)
	{
		max-width: 1111px;
		margin:0 auto;
		padding: 0;
	}
}


.contact-section
{
	padding:0 24px;
}

.about-us
{

&-first
{
	@include flex-centre(column);
	align-items: stretch;
	overflow: hidden;
	
	@include mq(700px)
	{
		padding-bottom: 120px;
		border-radius: 15px;
	}

	@include mq(1024px)
	{
		flex-direction: row;
	}
	&-image
	{
		width: 100%;
		height: auto;


		@include mq(1024px)
	{
		min-width:476px;
		order:2;
	}
	}

	&-container
	{
		background-color: $peach;
		position: relative;
		color: $white;
		@include flex-centre(column);
		padding: 80px 24px;
		overflow: hidden;
		isolation: isolate;
	

		@include mq(700px)
	{
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		padding: 64px 58px;
	}
	@include mq(1024px)
	{
		order: 1;
		align-items: flex-start;
		padding: 135px 82px 135px 95px;
		border-bottom-right-radius: 0px;
	}

		&-title
		{
			padding-bottom: 24px;
			font-weight: 500;
		}

		&-image{
			position: absolute;
			top:-105px;
			right:128px;
			transform: scale(1.2);
			z-index: -1;
			opacity: 0.6;
			
			@include mq(700px)
			{
				top:-228px;
				right: 68vw;
				transform: scale(2);
			}

			@include mq(1024px)
			{
				top:-15px;
				right: 415px;
				transform: scale(2.4);
			}
		}

		&-text
		{
			text-align: center;

			@include mq(1024px)
	{
		text-align: left;
	}
		}
	}

}
	
	
}

.about-us-section
{
	&-second,
	&-third,
	&-fourth
	{
		padding-bottom: 120px
	}
}