@use "../abstracts" as *;

.about-card
{
	@include flex-centre(column);
	align-items: stretch;
	&-main-image
	{
		width: 100%;
		height: auto;

		
	@include mq(1024px)
	{

		min-width: 476px;
	}
	}

	@include mq(700px)
	{

		border-radius: 15px;
		overflow: hidden
	}

	@include mq(1024px)
	{

		flex-direction: row
	}

	&-container
	{
		@include flex-centre(column);
		text-align: center;
		padding: 80px 24px;
		background-color: $second-light-peach;
		position: relative;
		overflow: hidden;
		isolation: isolate;

		@include mq(1024px)
		{
			padding: 154px 94px;
			align-items: flex-start;
		}
		&-title
		{
			padding-bottom: 24px;
			color: $peach;
			font-weight: 500;
		}
		&-texts
		{
			@include flex-centre(column);
			gap:32px;

			@include mq(1024px)
		{
			text-align: left;
		
		}
		}

		&-image
		{
			position: absolute;
			top:134px;
			transform: scale(1.5) ;
			left: 108px;
			z-index: -1;
			opacity: 1;

			@include mq(700px)
			{
				top:-180px;
				left:10px;
				transform: scale(1);
			}
			
			@include mq(1024px)
			{
				top:130px;
				left:-130px;
				transform: scale(1);
			}

		}
	}


}
.orderOne
{
	@include mq (1024px)
	{
		order:1;
	}
}

.orderTwo
{
	@include mq (1024px)
	{
		order:2;
	}
}