@use '../abstracts' as *;
.contact-card
{
    margin-bottom: -190px;
    @include flex-centre(column);
    position: relative;
   background-color: $peach; 
   padding: 64px 24px;
   color:$white;
   border-radius: 15px;
   overflow: hidden;
   &-title
   {
    margin-bottom: 13px;
    text-align: center;
    padding-inline:39px;
   }
   &-text
   {
    margin-bottom: 32px;
   }

   &-image
   {
    position: absolute;
    top:65px;
    left:12px;
    width: 100%;
     transform: scale(3) ;
   }
}