@use "../abstracts" as *;

.footer-info {
  color: $white;
  padding-inline: 24px;
  max-width: 1111px;
  margin-inline: auto;
  @include mq(700px) {
    padding-inline: 40px;
  }
  @include mq(1024px) {
    padding: 0px;
  }

  &-first {
    padding-top: 256px;
    @include flex-centre(column);
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    @include mq(700px) {
      flex-direction: row;
      gap: 0px;
    }
    

    &-list {
      @include flex-centre(column);
      gap: 32px;
      @include mq(700px) {
        flex-direction: row;

      }
    }
  }

  &-second {
    padding-top: 40px;
    @include flex-centre(column);
    gap: 32px;
    color: $white;
    @include mq(700px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
      }

    &-title {
      font-weight: 700;
      opacity: 0.5;
    }

    &-text {
      opacity: 0.5;
    }

    &-logos {
      @include flex-centre();
      gap: 16px;
    }
  }
}

.footer-gradient {
  height: 1px;
  width: 100%;
  background-color: $white;
  opacity: 0.1;
}

.gradient-mobile {
  @include mq(700px) {
    display: none;
  }
}

.gradient-tablet
{
    display: none;
    @include mq(700px) {
        display: block;
        margin:46px 0 31px 0;
      }
}
